%form-base {
  @include text-style(16, $primary);
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  background-color: $white;
  border: 1px solid $boarder;
  border-radius: 4px;
  appearance: none; // select에 적용되어있는 기본 스타일링을 제거하기 위해. 이러는 경우가 더 많다.
  transition: background-color 200ms ease-in-out;

  &::placeholder {
    color: $tertiary;
  }

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.form-select,
.form-input {
  @extend %form-base;
}

.select-group {
  position: relative;

  &.is-active {
    .form-select {
      border-color: $blue;
    }

    .ic-caret {
      border-color: $blue;
    }
  }

  .form-select {
    padding-right: 40px;
    text-overflow: ellipsis;
  }

  .ic-caret {
    @include pos-center-y;
    right: 8px;
    font-size: 24px;
    pointer-events: none; // 브라우저에게 얘는 누르는 것과는 전혀 상관없는 거란걸 알려줌 -> 앱솔루트 되어 위로 붕떴더라도 클릭할 수 있는 요소에서 제외됨 => z-index 조정 필요 없음
    color: $tertiary;
  }
}

.input-group {
  position: relative;

  .form-input {
    padding-left: 40px;
  }
  .ic-search {
    @include pos-center-y;
    left: 10px;
    font-size: 20px;
    color: $secondary;
  }
}
